@model CRUDWithCodeFirst.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table>
    <tr>
        <td>@Html.DisplayNameFor(m=>m.Name)</td>
        <td>@Html.DisplayFor(m=>m.Name)</td>
    </tr>
     <tr>
        <td>@Html.DisplayNameFor(m=>m.Gender)</td>
        <td>@Html.DisplayFor(m=>m.Gender)</td>
    </tr>
     <tr>
        <td>@Html.DisplayNameFor(m=>m.Email)</td>
        <td>@Html.DisplayFor(m=>m.Email)</td>
    </tr>
</table>